

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>Catalog Administration Page</h2>
        </div>
    </div>
    @Html.Partial("CatalogAdminPartials/_Size.cshtml")
    @Html.Partial("CatalogAdminPartials/_Catagory.cshtml")
    
</div>