@model ElectricPhantom.Models.LoginViewModel
<div class="row">
    <div class="col-12 text-center">
        <h2>Login</h2>
    </div>
    
</div>
<form class="margin_top_5" asp-action="Login" asp-controller="Login"method="POST">
    <div class="row">
        <div class="col-6">
            <label asp-for="Email">User Email:</label>
        </div>
        <div class="col-6">
            <input asp-for="Email" type="text">
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <label asp-for="Password">Password:</label>
        </div>
        <div class="col-6">
            <input asp-for="Password" type="password">
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <input type="submit" name="submit" value="Login">
        </div>        
    </div>
</form>