
<div class="container">
   @{
       foreach(var cata in ViewBag.AllCata){
           <div id="@cata.CatagoryName" class="row">
               <div class="col-12 text-center">
                   <h2>@cata.CatagoryName</h2>
               </div>
            </div>
            <div class="d-flex flex-wrap justify-content-center">
                @foreach(var item in ViewBag.AllStyles){
                    if(cata.CatagoryId == item.CatagoryId){
                        <div class="shop_itembox text-center">
                            
                            <h4>@item.ItemName</h4>
                            <a href="~/Shop/Style/@item.ItemId">
                                <div class="img_box">
                                    <img class="img-thumbnail img_moon_phase_thumbnail" src="~/images/shop/styles/@item.ImgName" alt="MoonPhase4">
                                </div>
                                <p>($@item.Price)</p>
                            </a>
                        </div>
                        
                    }
                }
            </div>
       }
   }
</div>




